/*fjerner automatiske styles*/
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: #FDF3E6;
}

/*tekst*/
h1 {
    font-size: 3rem;
    color: #c7aac3;
    font-family: 'Lobster Two', cursive;
}

p {
    font-size: 1.5rem;
    color: #6A7E6F;
    font-family: 'Lobster Two', cursive;
}

/*baggrunds billeder*/
#right {
    height: 45rem;
    float: right;
    margin-top: -2rem;
}

#baggrund1 {
    background-image: url("right.svg");
    position: relative;
}

#left {
    height: 45rem;
    float: left;
    margin-top: -2rem;
}

/*menu*/
ul {
    margin-top: 10rem;
    /*    centrere menuen på siden*/
    margin-right: 5rem;
    width: 100%;
    height: 60px;
}

/*links inde i menuen*/
ul li {
    /*    fjerner punkter*/
    list-style: none;
    /*    fjerner mellemrum hvor man ikke kan klikke*/
    display: inline;
    /*    centere tekst*/
    line-height: 70px;
}

/*teksten inde i menuen*/
ul li a {
    /*    gør så man ikke kun kan klikke på teksten, men også over og under*/
    display: block;
    /*    fjerner underline*/
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: 'Amatic SC', cursive;
    color: sandybrown;
    float: left;
    padding: 1rem;
}

/*hover effekt over menuen */
ul li a span:hover {
    background-color: rgb(233, 237, 200);
    animation: pulse 2s;
    color: #6A7E6F;
}

/*pulse animation til menuen*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

/*burger menu*/
#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    margin-left: 8rem;
}

/*    når menuen lukker*/
.bar {
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li {
    padding: 16px 0;
}

/*    når menuen åbner*/
.nav {
    display: none;
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
}

.change .bar {
    background-color: sandybrown;
}

/*    rotere stregerne til et kryds*/
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

/*    fjern bar2 i midten*/
.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/*responsive*/
@media (max-width: 1189px)
